
/* CSS Style Sheet */

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #777;
}
.container {
  
  background-color:#777;
  width: 1000px;
  height: 1000px;
  font-size: 18px;
  page-break-after: auto;
}

header {
  margin-left: 150px;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #ebebeb;
  color: #777;
  text-align: center;
  width: 760px;
  height: 40px;
  padding: 10px;
  border: 1px solid white;
}

nav {
  margin-left: 150px;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #ebebeb;
  color: #777;
  text-align: center;
  width: 760px;
  height: 40px;
  padding: 10px;
  border: 1px solid white;
}
aside {
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  background-color:#ebebeb;
  color: #777;
  text-align: center;
  width: 365px;
  height: 200px;
  padding: 10px;
  border: 1px solid white;
}

section {
  margin-left: 150px;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #ebebeb;
  color: #777;
  text-align: center;
  width: 365px;
  height: 200px;
  padding: 10px;
  border: 1px solid white;
}


footer {
  margin-left: 150px;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: #ebebeb;
  color:#777;
  text-align: center;
  width: 760px;
  height: 40px;
  padding: 10px;
  border: 1px solid white;
}

.article {
  background-color:#777;
  color: #ebebeb;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: auto;
  padding: 10px;
}

.p {
  
  color: #777;
  background-color:#ebebeb;
  text-align: center;
  width: 300px;
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
}


/** Float**/
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

aside {
  float: left;
}

section {
  float: left;
}

footer{
    float: left;
}

