

.container {
  margin: auto;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 100px;
  background-color:#777;
  width: 1000px;
  height: 1000px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  page-break-after: auto;
}

header {
  background-color: #ebebeb;
  color: #777;
  text-align: center;
  width: 960px;
  height: 40px;
  padding: 10px;
  border: 1px solid white;
}

nav {
  background-color: #ebebeb;
  color: #777;
  text-align: center;
  width: 960px;
  height: 40px;
  padding: 10px;
  border: 1px solid white;
}
aside {
  background-color:#ebebeb;
  color: #777;
  text-align: center;
  width: 470px;
  height: 400px;
  padding: 10px;
  border: 1px solid white;
}

section {
  background-color: #ebebeb;
  color: #777;
  text-align: center;
  width: 470px;
  height: 400px;
  padding: 10px;
  border: 1px solid white;
}

footer {
  background-color: #ebebeb;
  color:#777;
  text-align: center;
  width: 960px;
  height: 40px;
  padding: 10px;
  border: 1px solid white;
}

/** Float**/
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

aside {
  float: left;
}

section {
  float: left;
}

footer{
    float: left;
}